.btn-margin {
  margin: 7px 3px;
}

.refForm {
  display: inline-block;
  padding: 50px;
  font-size: 1em !important;
  width: 100%;
}

.MuiInputBase-input-70 {
  font-size: 2em !important;
}


.refForm input{
  display: inline-block;
  width: 100%;
  text-align: left;
}

.referralRadioGroup{
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

.MuiFormLabel-root-40, .MuiTypography-body1-126 {
  font-size: 1em !important;
  line-height: .9em !important;
}


.MuiFormControl-root-29, .referralRadioGroup , .referralRadioGroup .MuiFormLabel-root-40{
  width: 80%;
}

.MuiFormControl-root-69{
  width: 80%;
}

.MuiFormControlLabel-root-79, .MuiFormGroup-root-77 {
  display: inline-block;
  text-align: center;
}

.MuiInputBase-input-110 {
  font-size: 20px !important;
}

.MuiInputLabel-root-73{
  font-size: 20px !important;
}

.MuiFormLabel-root-80, .MuiFormControlLabel-label-122{
  font-size: 16px !important;
}

.submitBtn{
  border-radius: 6px;
  background-color: #2196f3;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: rgb(220,220,220);
  padding: 5px;


}
